<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<html>
    <head>
        <title>Rectángulo rojo y contador amarillo</title>
        <style>
          body {
            margin: 0;
            padding: 0;
            background-color: aquamarine;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100vh;
          }
    
          #contador {
            color: rgb(255, 0, 0);
            font-size: 7rem;
            margin: 20px;
          }
        </style>
      </head>
      <body>
        <div id="contador">3</div>
        <script>
          // Pongo el contador
          var cont = 3;
    
          // cojo el elemento contador
          var contador = document.getElementById("contador");
    
          // pongo el intervalo del contador
          var interval = setInterval(function() {
            cont--;
            contador.textContent = cont;
            if (cont <= 0) {
              clearInterval(interval);
              contador.textContent = "¡Listo!";
              //aqui debería enviar al servidor la foto
            }
          }, 1000);
        </script>
      </body>
</html>
</body>
</html>